 <!-- Fixed navbar  navbar-default-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">MEAN-Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-rigth">
          <a class="nav-link"routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          <a class="nav-link"routerLinkActive="active" >Profile</a>
          <a class="nav-link" routerLinkActive="active">Blog</a>
          <a class="nav-link"routerLinkActive="active" >Login</a>
          <a class="nav-link" routerLinkActive="active">Logout</a>
          <a class="nav-link"routerLinkActive="active" >Register</a>
        </ul>
  </div>
</nav>
